html
  head
    style.
      body {
        border-collapse: collapse;
        width: 8.5in;
        margin-left: 1in;
        margin-right: 1in;
      }
      div {
        /*
        border: 1px solid blue;
        */
      }
      .row {
        width: 6.5in;
      }
      .row .left {
        width: 1in;
        float: left;
        color: #aaa;
        border: 1px solid blue;
      }
      .row .right {
        width: 3in;
        float: left;
        border: 1px solid green;
      }

  body
    .row
      .left
        | x
      .right
        h1 Timothy Keith
    .row
      .left
        div Contact
        div Info
      .right
        | tim.keith@gmail.com
    .row
      .left
        div Professional
        div Experience
      .right
        | IBM
        | blah blah
        h2 Rational
        | blah blah
        h2 Verdix
        | blah blah
    .row
      .left
        | Education
      .right
        h2 UW Madison
        h2 UofT

