body {
  font-size: 150%;
  font-family: sans-serif;
  text-align: center;
}
a {
  text-decoration: none;
}
button {
  font-size: 75%;
  color: blue;
  border-color: blue;
  padding: .1em .5em;
  border-radius: .5em;
}
a.button {
}
h3 {
  margin-top: 1em;
}

div.main {
  display: inline-block;  /* allow it to be centered */
}
div.buttons {
  font-size:   90%;
  padding-top: .5em;
}
div.buttons a {
  margin: .5em;
  color:  blue;
}

table.grid {
  display: inline-block;  /* allow it to be centered */
  margin-top:    1em;
  margin-bottom: 1em;
}
table.grid td input {
  font-size:   200%;
  font-weight: bold;
  text-align:  center;
  width:       2em;
}

.answerSize {
  margin-bottom: .5em;
}

.letters {
  display:    inline-block;
  text-align: left;
}

.letters span {
  display:        inline-block;
  border:         1px solid gray;
  width:          1.5em;
  line-height:    1.5em;
  text-align:     center;
  vertical-align: middle;
  margin-left:    .25em;
  margin-right:   .25em;
  margin-top:     .5em;
}
.letters span.count {
  border:       none;
  color:        gray;
  margin-right: -.25em;
}

span.selections a {
  color:         blue;
  padding-left:  0.5em;
  padding-right: 0.5em;
}
span.selections a.selected {
  font-weight: bold;
  color:       black;
}
