body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}
.desc {
  font-size: 80%;
}
.desc2 {
  display: block;
  font-family: monospace;
  padding-left: 1em;
}

table.passwords {
  padding-top: 1em;
  border-collapse: separate; 
  border-spacing: .8em;
}
tr.head {
  font-weight: bold;
}
table.passwords td {
  /* padding-top: .3em; */
  padding-right: 1em;
/*
  padding-bottom: 1em;
*/
  /* height: 2em; */
  /* border: 1px solid green; */
}
/*
td.password span {
  border: 1px solid gray;
  padding: .2em .2em .2em .2em;
}
*/
.password {
  border: 1px solid gray;
  font-family: monospace;
}
table.passwords input {
  font-size: 100%;
}
span.password {
  width: 20em;
}
span.part {
  padding-right: .3em;
}

td {
  padding-right: .5em;
}
.selection {
  padding-right: .5em;
}
span.selection {
  font-weight: bold;
}
