html
  head
    style.
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 100%; }
  body
    div#map
    script(type='text/javascript', src='index.js')
    script(async, defer,
      src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCqTgoJzFd5QXVynbHiCNM28pHq9SVhbtw&callback=initMap')
