body {
  font-family: sans-serif;
}

.color-g {
  background-color: #33dd33;
}
.color-y {
  background-color: #eeee33;
}
.color-- {
  background-color: #eeeeee;
}
.guess input {
  text-align:     center;
  text-transform: uppercase;
  width:          1.2em;
  border:         1px solid black;
  font-size:      400%;
  font-weight:    bold;
}

tr.head {
  font-weight: bold;
}

td {
  padding-right: .5em;
}
td.radio-buttons {
  height: 1.7em;
}

/* Colored radio buttons */
.colored-radio {
  height: 2em;
}

.colored-radio input[type="radio"] {
  /* Remove most all native input styles */
  -webkit-appearance: none;
  appearance:    none;
  margin:        0;

  width:         2.0em;
  height:        2.0em;
  border:        0.15em solid black;
  border-radius: 50%;

  display:       inline-grid;
  place-content: center;
}
.colored-radio input[type="radio"]::before {
  content:          "";
  width:            0.65em;
  height:           0.65em;
  border-radius:    50%;
  transform:        scale(0);
  background-color: black;
}
.colored-radio input[type="radio"]:checked::before {
  transform: scale(1);
}

div.head {
  padding-top: 0.5em;
  font-weight: bold;
}
.answers div.answer {
  padding-left: 1em;
}
.answers button {
  margin-left: 1em;
}
.answer {
  font-family: monospace;
  font-size: 100%;
}
